<ion-header>
  <ion-toolbar>
    <ion-title>segunda</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text='Avanzar' defaultHref='/tercera' class="button-small button-energized" icon='null'></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button slot="start" text='Volver' defaultHref='/primera'></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  Si pulsas el boton volver iras a la primera pagina <br>
  Si pulsas avanzar, iras a la tercera pagina <br>
  {{texto}}<br>
  <ion-button (click)="PasarNumero(numero)" color="danger" class="button-full">SI</ion-button>
</ion-content>
