<ion-header>
  <ion-toolbar>
    <ion-title>segunda</ion-title>
    <ion-buttons slot="end">
      <ion-button text='Avanzar' href='/tercera' icon='null'>Avanzar</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button slot="start" text='Volver' href='/primera'>Volver</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  Si pulsas el boton volver iras a la primera pagina <br>
  Si pulsas avanzar, iras a la tercera pagina <br>
  {{texto}}<br>
  <ion-button (click)="PasarNumero(numero)" color="danger" class="button-full">SI</ion-button>
</ion-content>
